<section class="login-form">
  <div class="header">
    <h1>Login to Appy</h1>
    <p>Please enter your email and password to login to your account.</p>
  </div>
  <div class="form">
    <div class="form-control">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" />
    </div>
    <div class="form-control">
      <label for="email">Password</label>
      <input type="password" id="password" name="password" />
    </div>
    <a class="button" href="./dashboard.html">Login</a>
    <p>
      Forgot your password?
      <a> Reset it here </a>
    </p>
  </div>
</section>
